body{
    background-color:hsl(217, 54%, 11%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing:border-box;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

.pai{
    padding: 2rem;
    width: 26rem;
    height: 36rem;
    background-color: hsl(216, 50%, 16%);
    border-radius: 40px 40px;
}

.img img{
    width: 13rem;
    display: block;
    transform: translateX(-20px);
    margin-left:  auto;
    margin-right: auto;  
}

.nome h2{
    text-align: center;
}

.nome hr{
    width: 100%;
    height: 0.01px;
    background-color: antiquewhite;
}

.criado{
    display: flex;
    justify-content:space-around;
}

.criado img{
    width: 3rem;
}

.criado a{
    color:hsl(0, 0%, 100%);
}

.criado p{
    color: hsl(0, 0%, 0%);
}

